body {
  margin: 0;
  /*background-color: rgb(221, 221, 197);*/
  background-color:#CFD8DC
  font-family:Monospace;
  letter-spacing: 1px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #424949;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e62b1e;
    color: white;
}

.Logo {
    height: 60px;
    width: 210px;
margin-left: 10px
}
